<html>
<head lang="en">
    <meta charset="utf-8">
</head>
<body>
    <form action="charge" method="POST">
        <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_test_EL5QeOgdo1SWTM"
            data-amount="1000"
            data-name="xyz"
            data-description="book"
            data-image="vk.jpg"
            data-netbanking="true"
            data-description="Django"
            data-prefill.name="Patel Sheetal"
            data-prefill.email="shitalpatel1905@gmail.com"
            data-prefill.contact="7874239700"
            data-notes.shopping_order_id="22">
        </script>
        <input type="hidden" name="shopping_order_id" value="21">
    </form>
</body>
</html>