{% extends 'base.html' %}
{% load static %}
{% block script %}

{% endblock script %}
{% block content %}


			
<div class="clearfix"></div>
<!-- Header Container / End -->

<!-- Titlebar
================================================== -->
<!--<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>404 Not Found</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li>404 Not Found</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>

<!-- Page Content
================================================== -->
<!-- Container -->
<div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >
			
			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>Problematic Solution</h3>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Dashboard</a></li>
						<li>Problematic Solution</li>
					</ul>
				</nav>
			</div>
	
			<!-- Row -->
			<div class="row">

			<!--	<!-- Dashboard Box 
				<div class="col-xl-12">
					<div class="dashboard-box margin-top-0">

						<!-- Headline 
						<div class="headline">
							<h3><i class="icon-material-outline-account-circle"></i> My Account</h3>
						</div>

						<div class="content with-padding padding-bottom-0">

							<div class="row">

								<div class="col-auto">
									<div class="avatar-wrapper" data-tippy-placement="bottom" title="Change Avatar">
										<img class="profile-pic" src="images/user-avatar-placeholder.png" alt="" />
										<div class="upload-button"></div>
										<input class="file-upload" type="file" accept="image/*"/>
									</div>
								</div>

								<div class="col">
									<div class="row">

										<div class="col-xl-6">
											<div class="submit-field">
												<h5>First Name</h5>
												<input type="text" class="with-border" value="Tom">
											</div>
										</div>

										<div class="col-xl-6">
											<div class="submit-field">
												<h5>Last Name</h5>
												<input type="text" class="with-border" value="Smith">
											</div>
										</div>

										<div class="col-xl-6">
											<!-- Account Type 
											<div class="submit-field">
												<h5>Account Type</h5>
												<div class="account-type">
													<div>
														<input type="radio" name="account-type-radio" id="freelancer-radio" class="account-type-radio" checked/>
														<label for="freelancer-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> Freelancer</label>
													</div>

													<div>
														<input type="radio" name="account-type-radio" id="employer-radio" class="account-type-radio"/>
														<label for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Employer</label>
													</div>
												</div>
											</div>
										</div>

										<div class="col-xl-6">
											<div class="submit-field">
												<h5>Email</h5>
												<input type="text" class="with-border" value="tom@example.com">
											</div>
										</div>

									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
-->
				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box">
					<form method='POST' action="" enctype="multipart/form-data">
					{% csrf_token %}
						<!-- Headline -->
						
						<div class="headline">
							<h3><i class="icon-material-outline-face"></i> Add Question and Problem Here</h3>
						</div>
						<div class="content">
							<ul class="fields-ul">
							<li>
								<div class="row">
									<div class="col-xl-6">
										<div class="submit-field">
											<h5>HeadLine</h5>
											<input type="text" name='HeadLine' placeholder="Enter Title" required="required" class="with-border" value="">
										</div>
									</div>

									<div class="col-xl-6">
										<div class="submit-field">
											<h5>Question/Problems Related</h5>
											<select  name="dropdown" class="selectpicker with-border" data-size="7" title="Select here" data-live-search="true">
												<option value="Code Error">Code Error</option>
												<option value="Task Guide">Task Guide</option>
												<option value="Technology">Technology</option>
												<option value="Database">Database</option>
											
											</select>
										</div>
									</div>

									<div class="col-xl-12">
										<div class="submit-field">
											<h5>Write in Details</h5>
											<textarea placeholder="Enter Description Details here" name='Description'  cols="30" rows="5" class="with-border"></textarea>
										</div>
									</div>
								</div>
							</li>	
			
							<li>
							<div class="row">
								<div class="col-xl-4">
									<div class="submit-field">
										<h5>Skills <i class="help-icon" data-tippy-placement="right" title="Add up to 10 skills"></i></h5>
											<!-- Skills List -->
										<div class="keywords-container">
											<div class="keyword-input-container">
												<input type="text" class="keyword-input with-border" name='skill' placeholder="e.g. Angular, Laravel"/>
												
												</div>
											
												<div class="clearfix"></div>
											</div>
											
											
										</div>
									</div>

									<div class="col-xl-4">
										<div class="submit-field">
										<h5>Attachments</h5>
										<input type="file"  name='Screenshort' style="height:10%">	
											<!-- Attachments -->
											<!-- <div class="attachments-container margin-top-0 margin-bottom-0">
												<div class="attachment-box ripple-effect">
													<span>Screenshort/Support Documents</span>					
													
												</div>	
											</div> -->
											<!-- <div class="clearfix"></div>
											 -->
											<!-- Upload Button -->
										</div>
										</div>
									</div>

									
								</div>
									
						</ul>
						<tr>
							<td colspan="20" text-align="center" ><button type='submit' class="button dark ripple-effect button-sliding-icon">Save<i class="icon-feather-check"></i></button></td>
						</tr>		
						
					</form>	
					
						 </div>
				    		 
						</div>
				    		 
					</div>
				</div>

				<!--<!-- Dashboard Box --
				<div class="col-xl-12">
					<div id="test1" class="dashboard-box">

						<!-- Headline -
						<div class="headline">
							<h3><i class="icon-material-outline-lock"></i> Password & Security</h3>
						</div>

						<div class="content with-padding">
							<div class="row">
								<div class="col-xl-4">
									<div class="submit-field">
										<h5>Current Password</h5>
										<input type="password" class="with-border">
									</div>
								</div>

								<div class="col-xl-4">
									<div class="submit-field">
										<h5>New Password</h5>
										<input type="password" class="with-border">
									</div>
								</div>

								<div class="col-xl-4">
									<div class="submit-field">
										<h5>Repeat New Password</h5>
										<input type="password" class="with-border">
									</div>
								</div>

								<div class="col-xl-12">
									<div class="checkbox">
										<input type="checkbox" id="two-step" checked>
										<label for="two-step"><span class="checkbox-icon"></span> Enable Two-Step Verification via Email</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>-->
				
				<!-- Button -->
				
			</div></div>
			<!-- Row / End -->

<!-- Container / End -->
{% endblock %}
